body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    min-height: 100%;
    color: var(--primary-color);
    font-family: Proxima Nova, sans-serif;
    background-color: var(--background-color);
}

.new {
    --background-color: rgb(11, 22, 33);
    --accent-color: deeppink;
    --primary-color: hsl(40, 1%, 99%);
}

.full {
    --primary-color: darkslategray;
    --accent-color: crimson;
    --background-color: hsl(40, 1%, 99%);
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}